<section class="overflow-hidden px-5 lg:px-10 grid grid-cols-1 lg:grid-cols-2 my-40 lg:my-60 gap-5 relative w-full">
    
    <article data-sal="slide-down" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-out-bounce" class="flex flex-col justify-center gap-6 px-4 max-w-[750px]">
        <p class="text-sm tracking-wider font-thin">CANCELACIÓN Y DEVOLUCIÓN</p>
        <h1 class="text-[30px] lg:text-[56px] font-extralight leading-8 lg:leading-16 tracking-tight">Política de cancelación y devolución</h1>
        <p class="font-extralight text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            Cancelación por parte del cliente
        </p>
        <p class="font-thin text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            Si la cancelación se realiza con más de 7 días de antelación a la fecha de la reserva, se reembolsará el depósito completo. <br> No se realizarán reembolsos por cancelaciones con menos de 7 días de antelación.
        </p>
        <p class="font-extralight text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            Cancelación por condiciones meteorológicas
        </p>
        <p class="font-thin text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            Si el tour no puede realizarse debido a mal tiempo, intentaremos reprogramarlo para otra fecha disponible. <br> Si no es posible encontrar una nueva fecha, se procederá al reembolso total del depósito.
        </p>
        <p class="font-thin text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            Para cualquier consulta sobre cancelaciones o cambios en la reserva, no dudes en contactarnos.
        </p>
    </article>

    <article data-sal="slide-up" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-out-bounce" class="mt-12 lg:mt-0 relative flex justify-end">
        <img src="/images/llaut-1.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl w-[80%] lg:w-2/3 aspect-560/700 object-cover" />
        <img src="/images/llaut-3.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl absolute top-10 lg:top-[120px] left-0 lg:left-[100px] w-1/2 lg:w-[300px] aspect-500/750 object-cover" />
    </article>
</section>