
<div data-sal="slide-down" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-out-bounce" class="swiper relative my-20 lg:my-60">
    <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/images/11.webp" class="max-w-80 w-full object-cover aspect-674/619 "  />
            </div>
            <div class="swiper-slide">
                <video src="/videos/video.MP4" autoplay loop muted class="max-w-80 w-full object-cover aspect-674/619 ">
                </video>
            </div>
            <div class="swiper-slide">
                <img src="/images/03.webp" class="max-w-80 w-full object-cover aspect-674/619 "  />
            </div>
            <div class="swiper-slide">
                <img src="/images/12.webp" class="rotate-270 max-w-80 w-full object-cover aspect-674/619 "  />
            </div>
            <div class="swiper-slide">
                <img src="/images/04.webp" class="max-w-80 w-full object-cover aspect-674/619 "  />
            </div>  
            <div class="swiper-slide">
                <img src="/images/05.webp" class="max-w-80 w-full object-cover object-bottom aspect-674/619 "  />
            </div>
            <div class="swiper-slide">
                <img src="/images/13.webp" class="max-w-80 w-full object-cover aspect-674/619 "  />
            </div>
            <div class="swiper-slide">
                <img src="/images/14.webp" class="max-w-80 w-full object-cover aspect-674/619 "  />
            </div>  
    </div>
</div>

<style>
    .swiper-slide {
         overflow: hidden;
    }

    .swiper-slide img {
        transition: transform 0.6s ease;
    }

    .swiper-slide:hover img {
        transform: scale(1.08);
    }

    .swiper {
        width: 100%;
        cursor: url("/images/cursor.svg") 16 16, grab;
    }

    .swiper:active {
        cursor: grabbing;
    }


   
</style>

<script>
    import Swiper from 'swiper/bundle';

    import 'swiper/css/bundle';

    const swiper = new Swiper('.swiper', {
        spaceBetween: 16,
        slidesPerView: 1.2,
        centeredSlides: false,
        slidesOffsetBefore: 80,

        mousewheel: {
            forceToAxis: true,     
            sensitivity: 3,      
            releaseOnEdges: true,
        },

        breakpoints: {
            1024: {
            slidesPerView: 4.2,
            centeredSlides: false,
            slidesOffsetBefore: 200,
            }
        }
    });
</script>