<footer class="bg-black text-white w-full">
    <div class="flex flex-col lg:flex-row gap-10 items-center justify-between py-10 lg:py-20 px-5 lg:px-20">
        <a href="/">
            <img src="/images/logo-talaia-white.svg" alt="Logo de Talaia" class="h-32" />
        </a>
        <article class="flex flex-col lg:flex-row gap-5 lg:gap-20">
            <div class="flex flex-col gap-0 font-thin text-[14px] lg:text-[18px]">
                <p class="font-light text-[18px] lg:text-[24px] mb-2 lg:mb-4">Más información</p>
                <a href="/reservas">Reservas</a>
                <a href="/cancelacion-y-devolucion">Política de cancelación y devolución</a>
            </div>
            <div class="flex flex-col gap-0 font-thin text-[14px] lg:text-[18px]">
                <p class="font-light text-[18px] lg:text-[24px] mb-2 lg:mb-4">Contáctanos</p>
                <a href="https://wa.me/34666332384" target="_blank">Whatsapp</a>
                <a href="https://www.instagram.com/talaiacharter/" target="_blank">Instagram</a>
            </div>
        </article>
    </div>

    <div class="bg-black text-white font-thin flex justify-between items-center text-[12px] lg:text-[14px] px-5 lg:px-10 py-5 border-t border-gray-800">
        <p class="opacity-90">Talaia Charter © <span id="currentYear"></span></p>
        <a href="https://www.inakimir.com/" target="_blank">
            <img src="/images/inaki.png" alt="Logo de Iñaki Mir" class="h-4">
        </a>
    </div>
</footer>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
