<footer class="bg-black flex items-center justify-between text-white w-full py-20 px-40">
    <a href="#">
        <img src="/images/logo-talaia-white.svg" alt="Logo de Talaia" class="h-32" />
    </a>
    <article class="flex gap-20">
        <div class="flex flex-col gap-0 font-thin text-[18px]">
            <p class="font-light text-[24px] mb-4">Más información</p>
            <a href="#">Reservas</a>
            <a href="#">Quiénes somos</a>
            <a href="#">Política de cancelación y devolución</a>
        </div>
        <div class="flex flex-col gap-0 font-thin text-[18px]">
            <p class="font-light text-[24px] mb-4">Contáctanos</p>
            <a href="#">Whatsapp</a>
            <a href="#">Instagram</a>
        </div>
    </article>
</footer>
<section class="bg-black text-white font-thin flex justify-between items-center text-[14px] px-40 py-5">
    <p>Llaut Talaia © 2026</p>
    <a href="https://www.inakimir.com/" target="_blank">
        <img src="/images/inaki.png" alt="Logo de Iñaki Mir" class="h-4">
    </a>
</section>
