<section class="h-screen w-full flex items-center justify-center relative">
    <img src="/images/hero.webp" alt="Paisaje del mar Mediterráneo en Mallorca" class="object-cover w-full h-full absolute top-0 left-0" />
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-40"></div>

    <h1 data-sal="slide-up"
    data-sal-duration="800"
    data-sal-delay="200"
    data-sal-easing="ease-out-bounce" class="relative text-center font-medium text-white text-4xl lg:text-8xl tracking-tight leading-12 lg:leading-24">Haz del mar tu <br>mejor recuerdo</h1>
</section>