<section class="px-10 grid grid-cols-2 my-60 gap-5 relative w-full">
    
    <article class="flex flex-col justify-center gap-6 px-4 max-w-[750px]">
        <p class="text-sm tracking-wider font-thin">LLAUT TRADICIONAL</p>
        <h2 class="text-[56px] font-extralight leading-16 tracking-tight">Llaut Talaia, una magnífica embarcación a tu disposición</h2>
        <p class="font-thin text-[20px] leading-8">
            Una embarcación tradicional mallorquina, perfecta para explorar la costa de Mallorca con estilo y comodidad. Disfruta de un día inolvidable navegando por aguas cristalinas, descubriendo calas escondidas y relajándote bajo el sol mediterráneo.
        </p>
        <a href="#" class="w-fit flex items-center justify-center gap-4 px-6 py-3 bg-black text-white rounded-full hover:bg-white hover:text-black border border-black transition duration-300">
            Reserva ahora
            <i class="fa-solid fa-arrow-right-long"></i>
        </a>
    </article>

    <article class="relative flex justify-end">
        <img src="/images/llaut-4.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl w-2/3 aspect-560/700 object-cover" />
        <img src="/images/llaut-5.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl absolute top-[120px] left-[100px] w-[300px] aspect-500/750 object-cover" />
    </article>
</section>