<section class="overflow-hidden px-5 lg:px-10 grid grid-cols-1 lg:grid-cols-2 my-20 lg:my-60 gap-5 relative w-full">
    
    <article data-sal="slide-down" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-out-bounce" class="flex flex-col justify-center gap-6 px-4 max-w-[750px]">
        <p class="text-sm tracking-wider font-thin">LLAUT TRADICIONAL</p>
        <h2 class="text-[30px] lg:text-[56px] font-extralight leading-8 lg:leading-16 tracking-tight">Llaut Talaia, tu embarcación ideal para disfrutar de la costa de Mallorca</h2>
        <p class="font-thin text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            Una embarcación tradicional mallorquina, perfecta para un alquiler de barco en Mallorca. Explora la costa norte, descubre calas escondidas y disfruta de un día inolvidable bajo el sol mediterráneo.
        </p>
        <a href="https://wa.me/34666332384" target="_blank" class="w-fit flex items-center justify-center gap-4 px-6 py-3 bg-black text-white rounded-full hover:bg-white hover:text-black border border-black transition duration-300">
            Reserva ahora
            <i class="fa-solid fa-arrow-right-long"></i>
        </a>
    </article>

    <article data-sal="slide-up" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-out-bounce" class="mt-12 lg:mt-0 relative flex justify-end">
        <img src="/images/llaut-4.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl w-[80%] lg:w-2/3 aspect-560/700 object-cover" />
        <img src="/images/llaut-5.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl absolute top-10 lg:top-[120px] left-0 lg:left-[100px] w-1/2 lg:w-[300px] aspect-500/750 object-cover" />
    </article>
</section>