---
import { useTranslations, getLocalizedRoute } from "../i18n/utils";
import { languages } from "../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);
---

<section data-sal="slide-right" data-sal-duration="500" data-sal-delay="50" data-sal-easing="ease-out-bounce" class=" overflow-hidden px-5 lg:px-10 my-20 lg:my-60 relative flex items-center justify-center w-full">
   
    <article class="flex flex-col justify-center gap-10 px-4 max-w-full lg:max-w-[75%]">
        <div class="flex flex-col gap-4 border-b border-black w-full pb-5">
            <h4 class="text-[24px] lg:text-[40px] font-light">{translateLabels("preguntas.title1")}</h4>
            <p class="text-[16px] lg:text-[20px] max-w-full lg:max-w-[75%] font-thin leading-6 lg:leading-8">
                {translateLabels("preguntas.text1")}
            </p>
        </div>

        <div class="flex flex-col gap-4 border-b border-black w-full pb-5">
            <h4 class="text-[24px] lg:text-[40px] font-light">{translateLabels("preguntas.title2")}</h4>
            <p class="text-[16px] lg:text-[20px] max-w-full lg:max-w-[75%] font-thin leading-6 lg:leading-8">
                {translateLabels("preguntas.text2")}
            </p>
        </div>

        <div class="flex flex-col gap-4 border-b border-black w-full pb-5">
            <h4 class="text-[24px] lg:text-[40px] font-light">{translateLabels("preguntas.title3")}</h4>
            <p class="text-[16px] lg:text-[20px] max-w-full lg:max-w-[75%] font-thin leading-6 lg:leading-8">
                {translateLabels("preguntas.text3")}
            </p>
        </div>

        <div class="flex flex-col gap-4 border-b border-black w-full pb-5">
            <h4 class="text-[24px] lg:text-[40px] font-light">{translateLabels("preguntas.title4")}</h4>
            <p class="text-[16px] lg:text-[20px] max-w-full lg:max-w-[75%] font-thin leading-6 lg:leading-8">
                {translateLabels("preguntas.text4")}
            </p>
        </div>        
    </article>
</section>