---
import { useTranslations, getLocalizedRoute } from "../i18n/utils";
import { languages } from "../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);

const localizedLink = (path: string) => {
  if (currentLang === "es") return path;
  return `/${currentLang}${path}`; 
};
---

<section class="overflow-hidden px-5 lg:px-10 grid grid-cols-1 lg:grid-cols-2 my-40 lg:my-60 gap-5 relative w-full">
    
    <article data-sal="slide-down" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-out-bounce" class="flex flex-col justify-center gap-6 px-4 max-w-[750px]">
        <p class="text-sm tracking-wider font-thin uppercase">{translateLabels("reservas.accent")}</p>
        <h1 class="text-[30px] lg:text-[56px] font-extralight leading-8 lg:leading-16 tracking-tight">{translateLabels("reservas.title")}</h1>
        <h2 class="text-[24px] lg:text-[32px] font-thin leading-6 lg:leading-12 tracking-tight">{translateLabels("reservas.subtitle")}</h2>
        <p class="font-thin text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            {translateLabels("reservas.text")}
        </p>
        <p class="font-extralight text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            {translateLabels("reservas.text2")}
        </p>
        <p class="font-thin text-[16px] lg:text-[20px] leading-6 lg:leading-8">
            {translateLabels("reservas.text3")} <br/>
            {translateLabels("reservas.text4")} <br/>
            {translateLabels("reservas.text5")}
        </p>
        
        <a href="https://wa.me/34666332384" target="_blank" class="w-fit flex items-center justify-center gap-4 px-6 py-3 bg-[#5c6d9b] text-white rounded-full hover:bg-white hover:text-black border border-[#5c6d9b] transition duration-300">
            {translateLabels("reservas.button")}
            <i class="fa-solid fa-arrow-right-long"></i>
        </a>
    </article>

    <article data-sal="slide-up" data-sal-duration="800" data-sal-delay="200" data-sal-easing="ease-out-bounce" class="mt-12 lg:mt-0 relative flex justify-end">
        <img src="/images/llaut-4.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl w-[80%] lg:w-2/3 aspect-560/700 object-cover" />
        <img src="/images/llaut-5.webp" alt="Imagen de un llaut navegando por la costa de Mallorca" class="shadow-2xl absolute top-10 lg:top-[120px] left-0 lg:left-[100px] w-1/2 lg:w-[300px] aspect-500/750 object-cover" />
    </article>
</section>