---
import "../styles/global.css";
import '@fontsource-variable/public-sans';
import '@fontsource-variable/merriweather';
import '@fontsource-variable/playfair-display';
import "sal.js/dist/sal.css";
import { useTranslations } from "../i18n/utils";
import { languages } from "../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);
import "flag-icons/css/flag-icons.min.css";
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang={currentLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/images/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Talaia" />
		<link rel="manifest" href="/images/favicon/site.webmanifest" />
		<title>{translateLabels("meta.title")}</title>
		<meta name="description" content={translateLabels("meta.description")} />
		<script src="https://kit.fontawesome.com/44dc33ce77.js" crossorigin="anonymous"></script>
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BoatTrip",
			"name": {translateLabels("schema.name")},
			"description": {translateLabels("schema.description")},
			"areaServed": "Mallorca",
			"provider": {
				"@type": "LocalBusiness",
				"name": "Llaut Talaia"
			}
		}
		</script>
	</head>
	<body>
		<Analytics/>
        <slot />
		<script>
			import sal from "sal.js";

			document.addEventListener("DOMContentLoaded", () => {
				sal();
			});
		</script>
	
	</body>
	
</html>

<style>
	html,
	body {
		font-family: 'Public Sans Variable', sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

