---
import "../styles/global.css";
import '@fontsource-variable/public-sans';
import '@fontsource-variable/merriweather';
import '@fontsource-variable/playfair-display';
import "sal.js/dist/sal.css";
import { useTranslations } from "../i18n/utils";
import { languages } from "../i18n/ui";
import "flag-icons/css/flag-icons.min.css";
import Analytics from '@vercel/analytics/astro';

const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);

---

<!doctype html>
<html lang={currentLang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        
        <meta name="apple-mobile-web-app-title" content="Talaia" />
        <link rel="manifest" href="/site.webmanifest" />

        <link rel="alternate" hreflang="es" href="https://talaiacharter.com/" />
        <link rel="alternate" hreflang="en" href="https://talaiacharter.com/en/" />
        <link rel="alternate" hreflang="x-default" href="https://talaiacharter.com/" />

        <title>{translateLabels("meta.title")}</title>
        <meta name="description" content={translateLabels("meta.description")} />

        <script src="https://kit.fontawesome.com/44dc33ce77.js" crossorigin="anonymous"></script>
        <meta name="google-site-verification" content="uusVoxO57IFU-08Q8S2Yas07LatvEuhx43ZbyqFhZdM" />
    </head>
	<body>
		<Analytics/>
        <slot />
		<script>
			import sal from "sal.js";

			document.addEventListener("DOMContentLoaded", () => {
				sal();
			});
		</script>
	
	</body>
	
</html>

<style>
	html,
	body {
		font-family: 'Public Sans Variable', sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

